* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #f5efe7;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px #d8c4b6;
}

.header span {
  font-size: 50px;
  color: #213555;
  text-decoration: double;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #fff;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #111;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e5879;

  .calc-header {
    display: flex;
    justify-content: space-between;
  }

  .content {
    border: 2px solid #d8c4b6;
    margin: 10px;
  }

  .content .calc_buttons button:not(.checkbox) {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    background-color: #f5efe7;
    box-shadow: 2px 2px 1px #d8c4b6;
    font-size: 20px;
    cursor: pointer;
    margin: 2%;
  }

  .content input[type="text"] {
    height: 70px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #d8c4b6;
    cursor: text;
    background-color: #213555;
    box-shadow: 5px 5px 10px #3e5879;
    font-weight: bolder;
  }

  .content .calc_buttons button[value="="] {
    background-color: #008000;
    box-shadow: 2px 2px 1px #355e3b;
  }

  .content .calc_buttons button[value="C"] {
    background-color: #e23d28;
    box-shadow: 2px 2px 1px #ff4500;
  }

  .container_calc {
    background-color: #213555;
    border-radius: 5px;
  }

  .text-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    #display {
      font-size: 2em;
    }
  }

  #display_history {
    height: 60vh;
    width: 20%;
    background-color: #f5efe7;
    display: none;

    #history_header {
      display: flex;
      justify-content: space-between;
      border: 5px solid #213555;

      button {
        border: 0;
        outline: 0;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background: transparent;
        background-color: #213555;
        box-shadow: 2px 2px 1px #d8c4b6;
        font-size: 20px;
        color: #d8c4b6;
        cursor: pointer;
        margin: 2%;
      }
    }
    #history_content {
      p {
        font-size: large;
        color: #3e5879;
      }
    }
  }

  @media (max-width: 460px) and (max-height: 730px) {
    .content .calc_buttons button:not(.checkbox) {
      border: 0;
      outline: 0;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: transparent;
      background-color: #f5efe7;
      box-shadow: 1px 1px 1px #d8c4b6;
      font-size: 15px;
      cursor: pointer;
      margin: 1%;
    }

    .content input[type="text"] {
      height: 10%;
      width: 100%;
      border-radius: 2px;
      margin-bottom: 10px;
      color: #d8c4b6;
      cursor: text;
      background-color: #213555;
      box-shadow: 2px 2px 5px #3e5879;
      font-weight: bolder;
    }

    .content .calc_buttons button[value="="] {
      background-color: #008000;
      box-shadow: 2px 2px 1px #355e3b;
    }

    .content .calc_buttons button[value="C"] {
      background-color: #e23d28;
      box-shadow: 2px 2px 1px #ff4500;
    }
  }
}
